In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder# One-Hot Encoding

In [ ]:
data = pd.read_csv("adult_with_headers.csv")
print(data.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0        2174.0           0.0            40.0   United-States   <=50K
1           0.0           0.0            13.0   United-States   <=50K
2           0.0           0.0            40.0   United-States   <=50K
3           0.0           0.0            40.0   United-States   <=50K
4           0.0           0.0            40.0            Cuba   <=50K

In [ ]:
print(data.describe())

                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  17923.000000  1.792300e+04   17923.000000  17922.000000  17922.000000
mean      38.550243  1.901854e+05      10.090219   1050.742272     87.770282
std       13.623031  1.054434e+05       2.559689   7281.141976    402.532485
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.186945e+05       9.000000      0.000000      0.000000
50%       37.000000  1.789150e+05      10.000000      0.000000      0.000000
75%       47.500000  2.378490e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    17922.000000
mean        40.414407
std         12.274417
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17923 entries, 0 to 17922
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             17923 non-null  int64
 1   workclass       17923 non-null  object
 2   fnlwgt          17923 non-null  int64
 3   education       17923 non-null  object
 4   education_num   17923 non-null  int64
 5   marital_status  17923 non-null  object
 6   occupation      17923 non-null  object
 7   relationship    17923 non-null  object
 8   race            17922 non-null  object
 9   sex             17922 non-null  object
 10  capital_gain    17922 non-null  float64
 11  capital_loss    17922 non-null  float64
 12  hours_per_week  17922 non-null  float64
 13  native_country  17922 non-null  object
 14  income          17922 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 2.1+ MB
None

In [ ]:
# Handling missing values
data.dropna(inplace=True)  # Drop rows with missing values

In [ ]:
# Scaling techniques
scaler_standard = StandardScaler()
scaler_minmax = MinMaxScaler()

In [ ]:
data['age_scaled_standard'] = scaler_standard.fit_transform(data[['age']])
data['age_scaled_minmax'] = scaler_minmax.fit_transform(data[['age']])

Encoding Techniques

In [ ]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder# One-Hot Encoding

In [ ]:
# One-Hot Encoding
onehot_cols = ['workclass', 'marital_status', 'occupation', 'relationship', 'race']
for col in onehot_cols:
    if len(data[col].unique()) < 5:
        onehot_encoder = OneHotEncoder(drop='first')
        encoded_cols = pd.DataFrame(onehot_encoder.fit_transform(data[[col]]).toarray(),
                                    columns=[col + '_' + str(i) for i in range(1, len(data[col].unique()))])
        data = pd.concat([data, encoded_cols], axis=1)

In [ ]:
onehot_cols

['workclass', 'marital_status', 'occupation', 'relationship', 'race']

In [ ]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,age_scaled_standard,age_scaled_minmax
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K,0.032932,0.301370
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K,0.840440,0.452055
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K,-0.040477,0.287671
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K,1.060669,0.493151
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K,-0.774575,0.150685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17917,26,Private,206600,Bachelors,13,Never-married,Craft-repair,Own-child,White,Male,0.0,0.0,40.0,Mexico,<=50K,-0.921395,0.123288
17918,48,Federal-gov,247043,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K,0.693620,0.424658
17919,40,Private,187702,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K,0.106342,0.315068
17920,62,Private,41718,10th,6,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,35.0,United-States,<=50K,1.721357,0.616438
17921,37,Private,151835,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,45.0,United-States,>50K,-0.113887,0.273973

In [ ]:
# Create new features
data['capital-gain-minus-loss'] = data['capital_gain'] - data['capital_loss']
data['age_squared'] = data['age'] ** 2
# Apply log transformation to skewed numerical featurer
import numpy as np
data['capital-gain_log'] = np.log1p(data['capital_gain'])

Feature Selection python

In [ ]:
!pip install ppscore
from sklearn.ensemble import IsolationForest
import ppscore

Collecting ppscore
  Downloading ppscore-1.3.0.tar.gz (17 kB)
  Preparing metadata (setup.py) ... done
Collecting pandas<2.0.0,>=1.0.0 (from ppscore)
  Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.6.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2024.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.17.0)
Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 64.4 MB/s eta 0:00:00
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py) ... done
  Created wheel for ppscore: filename=ppscore-1.3.0-py2.py3-none-any.whl size=13164 sha256=ed93318d654a17bb57f6787f52b0f1cfee9574c7f2d07234038c9f0e0f4d0261
  Stored in directory: /root/.cache/pip/wheels/42/87/10/00056aa2d2624f1b9374db6a0d5245da9a3d87bdc9247c1a56
Successfully built ppscore
Installing collected packages: pandas, ppscore
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.10.1 requires pandas<2.2.3dev0,>=2.0, but you have pandas 1.5.3 which is incompatible.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 1.5.3 which is incompatible.
mizani 0.13.1 requires pandas>=2.2.0, but you have pandas 1.5.3 which is incompatible.
plotnine 0.14.4 requires pandas>=2.2.0, but you have pandas 1.5.3 which is incompatible.
xarray 2024.11.0 requires pandas>=2.1, but you have pandas 1.5.3 which is incompatible.
Successfully installed pandas-1.5.3 ppscore-1.3.0